<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tbody>
            <tr>
            <th>#</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>See More+</th>
            see the difference between 
            https://musicbrainz.org/ws/2/recording/460883ea-af5c-445e-93bb-bcdaaa649c7a?inc=genres+ratings+artists+releases&fmt=json
            and
            https://musicbrainz.org/ws/2/recording/79e20770-9075-4aa0-a052-cc5b263195e2?inc=genres+ratings+artists+releases&fmt=json
        </tr>
        </tbody>
        <img src="./img/laoding.gif" alt="loading">
    </table>
</body>
</html>